* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #3b340b;
}
h1 {
    color: blanchedalmond;
}
#animate {
    text-align: center;
}

#array-number {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    margin: 20px 0;
}


#sort-btn {
    padding: 10px 20px;
    background-color: #b87012;
    border: none;
    color: white;
    cursor: pointer;
}
#change-btn {
    padding: 10px 20px;
    background-color: #b87012;
    border: none;
    color: white;
    cursor: pointer;  
}
#unsort-btn {
    padding: 10px 20px;
    background-color: #b87012;
    border: none;
    color: white;
    cursor: pointer;  
}
#container-buttoms {
    text-align: center;
    bottom: 80vh;
}