* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #352b1f;
}
h1 {
    color: blanchedalmond;
}
#border{
    border: none;
    border-top: 2px solid #ffffff; 
    margin: 20px 0; 
    width: 90%;
}
#animate {
    flex-grow: 1; /* El contenido principal crecerá para ocupar el espacio disponible */
    display: flex;
    justify-content: space-evenly; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 20px;
    
}

#array-number {
    display: flex;
    gap: 10px; /* Espacio entre los cuadros */
    color: white;
    background-color: #ff8a05;
    width: 4rem;
    height: 4rem;
    justify-content: ;
}


#sort-btn {
    padding: 10px 20px;
    background-color: #b87012;
    border: none;
    color: white;
    cursor: pointer;
}
#change-btn {
    padding: 10px 20px;
    background-color: #b87012;
    border: none;
    color: white;
    cursor: pointer;
}
#unsort-btn {
    padding: 10px 20px;
    background-color: #b87012;
    border: none;
    color: white;
    cursor: pointer;
}
#container-buttoms {

}